<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <div id="root">
    {{> (lookup . 'component') }}
  </div>
  <script src="/dist/bundle.js"></script>
</body>
</html>
